#main_title{background-color:#0808DF;padding:12px;margin:0px;}
#projects{background-color:#06C8E9;padding: 5px;margin:0px;}
#proj{margin-bottom:6px;margin-right: 5px;padding-bottom: 10px;}
#query_string{background-color:#05900D;margin:0px;padding:5px;}	
#q_list{background-color:#37FF50;margin:0px;padding:5px;}

